.play9 {
    display: block;
    span {
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        padding: 1rem 2rem;
        margin: 1rem;
        display: inline-block;
        background-color: grey;
    }
}