.card-item {
  margin: 10px 20px;
  position: relative;
  width: 200px;
  float: left;
  display: block;

  &__header{
    img{
        width: 200px;
    }
  }

  &:hover {
    border: 1px solid red;
  }
}
