.clock {
  position: relative;
  &-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    background-color: #d2e0d2;
    border-radius: 50%;
    border: 1px solid;
  }
  &__hour,
  &__min,
  &__second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .numbers {
    position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    background-color: red;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid;
    span{
      
    }
  }
}
