.app {
    text-align: center;
    padding: 40px 0px;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

/* card-item */

.card-list {
    margin-top: 20px;
}

.btn {
    cursor: pointer;
}

.btn--close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.btn--close::before {
    content: "X";
}

.clear-fix{
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}