*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    font-size: 62.5%; // 10/16px
}

body {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    border:1px solid;
    margin-top: 40px;
    height: 85vh;
}